.aboutContainer {
  display: flex;
  margin-top: var(--margin-md);
  gap: var(--gap-md);
  border-radius: var(--bdRadius-lg);

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    width: 40%;

    @media screen and (max-width: 1000px) {
      width: 60%;
      // margin: 0 auto;
    }
    @media screen and (max-width: 600px) {
      width: 55%; /* Pour les smartphones (iPhone inclus) */
    }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .left {
        width: 55%; /* Spécifique aux petits appareils Apple */
      }
    }
    #leftImg {
      object-fit: cover;
      width: 100%;
      height: auto;
      max-width: 100%;
      border-radius: 25%;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }
    .rightContent {
      display: flex;
      flex-direction: column;
      border-left: 1px solid var(--green300);
      align-items: start;
      justify-content: center;
      padding: var(--padding-md);
      border-radius: var(--bdRadius-md);

      @media screen and (max-width: 1000px) {
        border-left: none;
      }
    }

    #logoImg {
      width: 100px;
      height: auto;
    }
  }
}
