.testimoniesContainer {
  margin-top: var(--margin-md);
  border-bottom: 1px solid var(--green300);

  .testimoniesTitle {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
    button {
      outline: none;
      background: var(--green300);
      padding: var(--padding-xs);
      color: var(--white400);
      border: none;
      text-transform: uppercase;
      float: right;
      cursor: pointer;
    }
  }
  .testimonies ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xs);
    padding: var(--padding-sm);
    justify-content: center;
  }
}

.googleTitle {
  margin-top: 30px;
  @media screen and (max-width: 800px) {
    text-align: center;
  }
}
