.mentionsContainer {
  margin-top: var(--margin-md);

  div {
    padding: 10px 0;
    h3 {
      padding: 10px 0 5px 0;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
