.contactContainer {
  margin-top: var(--margin-md);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 668px) {
    display: block;
  }

  .infos {
    @media screen and (max-width: 668px) {
      width: 90%;
      margin: 0 auto;

      // margin: 0;
    }
    .infosPrix {
      display: flex;
      gap: var(--gap-xs);
      // font-family: "Lufga-Semibold";
    }

    p {
      &:last-of-type {
        font-style: italic;
      }
    }
  }

  .contact {
    width: 80%;
    margin: 0 auto;

    // p {
    //   position: relative;
    //   .tel {
    //     @media screen and (max-width: 1004px) {
    //       position: absolute;
    //       bottom: -5px;
    //       left: 0;
    //     }
    //     @media screen and (max-width: 940px) {
    //       position: relative;
    //       bottom: 0;
    //       left: 0;
    //     }
    //   }
    // }
    @media screen and (max-width: 1066px) {
      width: 85%;
    }
    @media screen and (max-width: 668px) {
      width: 90%;
      margin: 0 auto;

      // margin: 0;
    }
    // @media screen and (max-width: 668px) {
    //   width: 90%;
    //   // margin: 0;
    // }
    form {
      display: flex;
      flex-direction: column;
      gap: var(--gap-sm);
      // @media screen and (max-width: 668px) {
      //   justify-content: center;
      //   align-items: center;
      // }
      input[type="text"],
      input[type="mail"],
      textarea {
        appearance: none;
        background: none;
        outline: none;
        border-style: none;
        border-bottom: 1px var(--green300) solid;
        border-radius: var(--bdRadius-sm);
        font-family: "Lufga-400";
        font-size: 1.1em;

        &:focus {
          color: var(--green300);
          font-weight: bold;
          border-bottom: 3px var(--green300) solid;
        }
      }

      textarea {
        resize: none;
      }
      button[type="submit"] {
        width: 20%;
        margin: 0 auto;
        cursor: pointer;
        background: var(--green300);
        color: var(--white400);
        padding: var(--padding-xs) var(--padding-lg);
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
      }
    }
    .formMessage {
      text-align: center;
    }
  }
  .error {
    color: red;
  }
}
.centralImgContainer {
  max-width: 100%;
  @media screen and (max-width: 668px) {
    max-width: 90%;
    margin: 0 auto;
  }
  #centralImg {
    object-fit: cover;
    max-width: 100%;
  }
}
