.background {
  background: url("./assets/bg.jpg") no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: var(--margin-sm);
  padding-top: var(--padding-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 668px) {
    gap: var(--gap-sm);
  }

  h1 {
    font-size: 2.8em;
  }

  span {
    font-size: 2em;
    color: var(--green300);
    @media screen and (max-width: 668px) {
      font-size: 1.5em;
    }
  }

  h3 {
    font-size: 2em;
  }
}
