.testimonieCardContainer {
  border: 1px var(--green300) solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50%;
  flex: 1 0 40%;
  border-radius: 20px;
  background: white;
  @media screen and (max-width: 800px) {
    max-width: 90%;
    flex: 1 0 90%;
  }
  .authorContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h3 {
      font-family: "Lufga-Semibold";
      color: var(--green300);
    }

    h4 {
      align-self: end;
      font-style: italic;
    }
  }
}
