.testimonieCardContainer {
  border: 1px green solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  // align-items: center;
  max-width: 50%;
  flex: 1 0 40%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;

  // @media screen and (max-width: 700px) {
  //   width: 80%;
  //   flex: 1 0 80%;
  // }
}
